
header {
	width: 100%;
	height: 100px;
	background-color: #66ff66;
	text-align: center;
}
article {
	height: 1000px;
	width: 1000px;
	margin: auto;
	background-color: pink;
}

section {
	width: 440px;
	height: 600px;
	background-color: #66ff66;
}

aside {
	width: 940px;
	height: 300px;
	background-color: #66ff66;
}
footer {
	width: 100%;
	height: 100px;
	background-color: #66ff66;
	text-align: center;
}