
header{
	height: 100px;
	width: 100%;
	background-color: #66ff66;
	text-align: center;
}

article {
	height: 1000px;
	width: 1000px;
	margin: auto;
	background-color: #ff99ff;
}


section {
	height: 600px;
	width: 440px;
	background-color: #66ff66;	
}
.poster {
	background-color: grey;	
	margin-left: 100px;
}
.poster img {
	width:100%;
}

.title{
	margin-left: 670px;
	background-color: green;
}
.info {
	height: 300px;
	width: 940px;
	background-color: #66ff66;
	}

.movie li{
	display: inline;
	padding: 20px;
}

footer {
	height: 100px;
	max-width: 100%;
	background-color: #66ff66;
	text-align: center;
}